* {
  margin: 0px 5px;
  padding: 0px;
  box-sizing: border-box;
}
* body {
  font-family: "Open Sans";
  font-style: normal;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.header {
  display: flex;
  position: absolute;
  left: 80px;
  top: 40px;
}
.header__text1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
}
.header__nav {
  margin: 0.4rem 0;
}
.header__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
  font-size: 16px;
  color: #222222;
  margin-left: 402px;
}
.header__button {
  width: 76px;
  height: 40px;
  background-color: #24AB70;
  color: #FFFFFF;
  border-radius: 35px;
  margin-left: 500px;
}

@media screen and (max-width: 1200px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .header {
    display: flex;
    position: absolute;
    left: 80px;
    top: 40px;
  }
  .header__text1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
  }
  .header__nav {
    margin: 0.4rem 0;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: center;
    font-size: 16px;
    color: #222222;
    margin-left: 208px;
  }
  .header__button {
    width: 76px;
    height: 40px;
    background-color: #24AB70;
    color: #FFFFFF;
    border-radius: 35px;
    margin-left: 208px;
  }
}
.sec1 {
  position: absolute;
  background: rgba(36, 171, 112, 0.04);
  border-radius: 50px 50px 0px 0px;
  height: 656px;
  left: 80px;
  top: 120px;
  display: flex;
}
.sec1__col1 {
  display: flex;
  flex-direction: column;
}
.sec1__h6 {
  margin-left: 80px;
  margin-top: 88px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  /* or 125% */
}
.sec1__p1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-top: 30px;
  margin-left: 80px;
  /* or 160% */
}
.sec1__img1 {
  width: 175px;
  height: 56px;
  margin-top: 50px;
  margin-left: 90px;
}
.sec1__col2 {
  margin-left: 340px;
}

.sec2 {
  position: absolute;
  height: 656px;
  left: 80px;
  top: 896px;
  right: 80px;
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
}
.sec2__h6 {
  position: absolute;
  left: 0%;
  right: 62.58%;
  top: 0%;
  bottom: 90.85%;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
.sec2__p1 {
  position: absolute;
  left: 0%;
  right: 68.05%;
  top: 12.2%;
  bottom: 79.27%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #555555;
}
.sec2__a1 {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #24AB70;
  text-decoration: none;
  position: absolute;
  left: 91.48%;
  right: 0%;
  top: 13.41%;
  bottom: 80.49%;
  background: rgba(36, 171, 112, 0.1);
  border-radius: 280px;
}
.sec2__col1 {
  position: absolute;
  height: 480px;
  display: flex;
  top: 176px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.sec2__col1__cards {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  border-radius: 16px;
}
.sec2__col1__cards__img {
  height: 320px;
}
.sec2__col1__cards__p1 {
  margin-top: 24px;
  margin-left: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #24AB70;
}
.sec2__col1__cards__h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-left: 16px;
  margin-top: 8px;
  /* identical to box height, or 125% */
  color: #222222;
}
.sec2__col1__cards__div1 {
  margin-top: 24px;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
}
.sec2__col1__cards__div1__p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.sec2__col1__cards__div1__img1 {
  margin-left: 60px;
  width: 131px;
  height: 18px;
}

.sec3 {
  position: absolute;
  height: 410px;
  left: 80px;
  top: 1699px;
  display: flex;
  flex-direction: row;
}
.sec3__div1 {
  width: 411px;
  height: 310px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.sec3__div1__h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.sec3__div1__p1 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #555555;
}
.sec3__div1__btn1 {
  padding: 16px 32px;
  width: 164px;
  height: 56px;
  position: absolute;
  left: 0%;
  bottom: 24.39%;
  margin-left: 80px;
  background: #24AB70;
  border-radius: 35px;
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */