$color-green : #24AB70;

$color-black : #000000;
$color-black1 :#222222;
$color-white :#FFFFFF;
$color-grey : #555555;
$color-bg : #FAFAFA;

* {
    // placing Margin to left & right
    margin: 0px 5px;
    padding: 0px;
    box-sizing: border-box;

    body {
        font-family: 'Open Sans';
        font-style: normal;
    }
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

.header {
    display: flex;
    position: absolute;

    left: 80px;
    top: 40px;


    &__text1 {

        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: $color-black;
    }

    &__nav {
        margin: 0.4rem 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
        font-size: 16px;
        color: $color-black1;
        margin-left: 402px;

    }

    &__button {
        width: 76px;
        height: 40px;
        background-color: $color-green;
        color: $color-white;
        border-radius: 35px;
        margin-left: 500px;

    }


}

@media screen and (max-width : 1200px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .header {
        display: flex;
        position: absolute;
        left: 80px;
        top: 40px;


        &__text1 {
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            color: $color-black;
        }

        &__nav {
            margin: 0.4rem 0;
        }

        &__list {
            display: flex;
            flex-direction: row;
            column-gap: 30px;
            justify-content: center;
            font-size: 16px;
            color: $color-black1;
            margin-left: 208px;

        }

        &__button {
            width: 76px;
            height: 40px;
            background-color: $color-green;
            color: $color-white;
            border-radius: 35px;
            margin-left: 208px;

        }
    }

}

.sec1 {


    position: absolute;
    background: rgba(36, 171, 112, 0.04);
    border-radius: 50px 50px 0px 0px;

    height: 656px;
    left: 80px;
    top: 120px;
    display: flex;

    &__col1 {
        display: flex;
        flex-direction: column;
    }


    &__h6 {
        margin-left: 80px;
        margin-top: 88px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        /* or 125% */
    }



    &__p1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-grey;
        margin-top: 30px;
        margin-left: 80px;
        /* or 160% */
    }

    &__img1 {
        width: 175px;
        height: 56px;
        margin-top: 50px;
        margin-left: 90px;
    }

    &__col2 {
        margin-left: 340px;
    }

}

.sec2 {
    position: absolute;
    height: 656px;
    left: 80px;
    top: 896px;
    right: 80px;
    display: flex;
    margin-right: 80px;
    margin-left: 80px;



    &__h6 {
        position: absolute;
        left: 0%;
        right: 62.58%;
        top: 0%;
        bottom: 90.85%;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        color: $color-black;
    }

    &__p1 {
        position: absolute;
        left: 0%;
        right: 68.05%;
        top: 12.2%;
        bottom: 79.27%;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $color-grey;
    }

    &__a1 {
        position: absolute;

        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $color-green;
        text-decoration: none;
        position: absolute;
        left: 91.48%;
        right: 0%;
        top: 13.41%;
        bottom: 80.49%;

        background: rgba(36, 171, 112, 0.1);
        border-radius: 280px;

    }

    &__col1 {

        position: absolute;
        height: 480px;
        display: flex;
        top: 176px;
        column-gap: 100px;

        &__cards {
            display: flex;
            flex-direction: column;
            background: $color-bg;
            border-radius: 16px;

            &__img {

                height:
                    320px;
            }


            &__p1 {
                margin-top: 24px;
                margin-left: 16px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: $color-green;

            }

            &__h6 {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                margin-left: 16px;
                margin-top: 8px;
                ;
                /* identical to box height, or 125% */


                color: $color-black1;
            }

            &__div1 {
                margin-top: 24px;
                margin-left: 16px;
                display: flex;
                flex-direction: row;

                &__p2 {


                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;

                    color: $color-black1;
                }


                &__img1 {

                    margin-left: 60px;
                    width: 131px;
                    height: 18px;
                }

            }


        }
    }
}

.sec3 {
    position: absolute;
    height: 410px;
    left: 80px;
    top: 1699px;
    display: flex;
    flex-direction: row;

    &__div1 {
        width: 411px;
        height: 310px;
        display: flex;
        flex-direction: column;
        margin-left: 80px;


        &__h1 {
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: $color-black;
        }

        &__p1 {
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $color-grey;

        }

        &__btn1 {
            padding: 16px 32px;
            width: 164px;
            height: 56px;
            position: absolute;
            left: 0%;
            bottom: 24.39%;
            margin-left: 80px;
            background: $color-green;
            border-radius: 35px;
            color: $color-white;

        }
    }

    &__div2 {
        display: flex;
        flex-direction: column;
        margin-left: 50px;

        &__col1 {
            display: flex;
            flex-direction: row;
            column-gap: 50px;


            &__card {

                background: $color-white;
                border: 1px solid #E8E8E8;
                border-radius: 8px;
                width: 193px;
                height: 193px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;




                &__img {

                    width: 40px;
                    height: 40px;
                    margin-left: 76px;


                }

                &__p {

                    margin-top: 24px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: $color-black1;

                }
            }
        }
    }
}



@media screen and (max-width : 1200px) {
    .container {
        display: flex;
    }
}

.sec4 {
    position: absolute;

    height: 520px;
    left: 80px;
    top: 2229px;
    display: flex;

    &__img {
        margin-left: 80px;
    }

    &__col1 {


        display: flex;
        flex-direction: column;
        margin-top: 70px;
        margin-left: 200px;



        &__h6 {


            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: $color-black;
        }

        &__p1 {

            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $color-grey;

        }

        &__p2 {
            position: absolute;
            left: 54.53%;
            right: 6.64%;
            top: 43.46%;
            bottom: 35%;
            margin-left: 140px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $color-grey;
        }

        &__btn {

            padding: 16px 32px;

            color: $color-white;
            position: absolute;
            left: 54.53%;
            right: 32.42%;
            top: 74.62%;
            bottom: 14.62%;
            margin-left: 140px;
            background: $color-green;
            width: 167px;
            height: 56px;
            border-radius: 35px;
        }

    }
}

.sec5 {
    position: absolute;

    height: 400px;
    left: 60px;
    top: 2869px;
    border-radius: 35px;
    background-color: $color-bg;
    display: flex;
    background-color: $color-bg;

    &__col1 {

        width: 628px;
        height: 140px;

        margin: 130px;
        margin-top: 68px;


        &__img1 {
            position: absolute;
            left: 7.35%;
            right: 90.65%;
            top: 16.25%;
            bottom: 78.03%;
        }

        &__p1 {
            position: absolute;
            left: 9.77%;
            right: 42.65%;
            top: 17%;
            bottom: 48%;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            /* or 175% */


            color: $color-grey;
        }

        &__img2 {
            position: absolute;
            left: 20.35%;
            right: 38.65%;
            top: 45.25%;
            bottom: 50.03%;



        }

        &__h6 {
            position: absolute;
            left: 9.77%;
            right: 73.86%;
            top: 66.25%;
            bottom: 26.75%;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: $color-black1;
        }

        &__p2 {
            position: absolute;
            left: 9.77%;
            right: 82.65%;
            top: 76.25%;
            bottom: 16.75%;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $color-grey;

        }


    }

    &__col2 {

        margin-left: 300px;




        &__img {
            position: absolute;
            left: 100%;
            right: -100%;
            top: 50%;
            bottom: -100%;


        }
    }



}

.sec6 {
    position: absolute;
    width: 1280px;
    height: 677px;
    left: 280px;
    top: 3469px;
    display: flex;
    justify-content: center;
    border-radius: 16px;

    &__col1 {
        height: 199px;
        margin-top: 435px;
        margin-left: 40px;
        width: 1194px;
        background-color: $color-white;
        border-radius: 16px;

        &__h6 {
            position: absolute;
            left: 8.52%;

            top: 70.75%;
            bottom: 23.34%;


            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            /* identical to box height, or 111% */


            color: $color-black;
        }

        &__p1 {
            position: absolute;
            left: 8.52%;
            right: 51.64%;
            top: 79.03%;
            bottom: 12.7%;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $color-grey;
        }

        &__p2 {
            position: absolute;
            left: 59.3%;

            top: 81.09%;
            bottom: 14.77%;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: $color-grey;
        }

        &__btn {
            position: absolute;
            left: 81.8%;
            right: 8.52%;
            top: 79.03%;
            bottom: 12.7%;
            background: $color-green;
            border-radius: 50px;
            color: $color-white;
        }

    }
}

.footer {
    position: absolute;
    width: 1062px;
    height: 208px;
    left: 189px;
    top: 4346px;

    &__h6 {
        position: absolute;
        width: 81px;
        height: 32px;
        left: 0px;
        top: 6px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        color: $color-black;
    }

    &__p1 {
        position: absolute;
        left: 0%;
        right: 75.14%;
        top: 30.77%;
        bottom: 34.62%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-grey;
    }

    &__img1 {
        position: absolute;
        left: 0.28%;
        right: 98.21%;
        top: 80.77%;
        bottom: 11.54%;
    }

    &__img2 {
        position: absolute;
        left: 4.61%;
        right: 93.88%;
        top: 80.77%;
        bottom: 11.54%;
    }

    &__img3 {
        position: absolute;
        left: 8.95%;
        right: 89.55%;
        top: 80.77%;
        bottom: 11.54%;
    }

    &__div1 {
        position: absolute;
        left: 40.49%;
        right: 53.11%;
        top: 3.85%;
        bottom: 0%;

        &__p1 {
            position: absolute;
            left: 40.49%;
            right: 53.11%;
            top: 3.85%;
            bottom: 80.77%;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: $color-black1;

        }

        &__p2 {
            position: absolute;
            left: 40.49%;
            right: 53.77%;
            top: 30.77%;
            bottom: 57.69%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black1;
        }

        &__p3 {
            position: absolute;
            left: 40.49%;
            right: 53.48%;
            top: 50%;
            bottom: 38.46%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black1;


        }

        &__p4 {
            position: absolute;
            left: 40.49%;
            right: 53.48%;
            top: 69.23%;
            bottom: 19.23%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black1;
        }

        &__p5 {
            position: absolute;
            left: 40.49%;
            right: 54.05%;
            top: 88.46%;
            bottom: 0%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black1;
        }
    }

    &__div2 {
        position: absolute;
        width: 101px;
        height: 200px;
        left: 664px;
        top: 8px;
        border-radius: nullpx;

        display: flex;
        flex-direction: column;

        &__p1 {
            margin-top: 8px;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: $color-black1;
        }

        &__p2 {

            margin-top: 20px;

            font-weight: 400;
            font-size: 16px;
            line-height: 24px;


        }

        &__p3 {
            margin-top: 16px;
            width: 101px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;

        }



    }

    &__div3 {
        position: absolute;
        left: 87.57%;
        right: 0%;
        top: 3.85%;
        bottom: 38.46%;

        &__p1 {
            position: absolute;
            width: 132px;
            left: 87.57%;
            right: 0%;
            top: 3.85%;
            bottom: 80.77%;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: $color-black1;

        }

        &__p2 {
            position: absolute;
            left: 87.57%;
            right: 6.97%;
            top: 30.77%;
            bottom: 57.69%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black1;
            height: 24px;
            width: 58px;

            top: 64px;
            border-radius: nullpx;

        }

        &__p3 {
            position: absolute;
            left: 87.57%;
            right: 3.67%;
            top: 50%;
            bottom: 38.46%;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            height: 24px;
            width: 93px;
            
            top: 104px;
            border-radius: nullpx;
            
            color: $color-black1;
        }

    }
}